{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-5">Estimate Form</h1>

<div class="card w-75 mx-auto p-5">
  <form action="{% url 'get estimate' %}" method="POST">
    {% csrf_token %}
      <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Builder</label>
          <select class="form-select" aria-label="Default select example" name="builder">
              <option selected>Select a builder</option>
              {% for builder in builders %}
              <option value="{{builder.id}}">{{builder.name}}</option>
              {% endfor %}
            </select>
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Project Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="project_name">
      </div>

      <div class="d-flex flex-row justify-content-evenly">
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">How Many bathrooms are in this home?</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div>
              <label for="formGroupExampleInput" class="form-label">Will this builder be using their standard package?</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    No
                  </label>
                </div>
          </div>
      </div>

      <div class="mb-3">
          <label for="">What floor is the kitchen on?</label>
          <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="FIRST">First</option>
              <option value="SECOND">Second</option>
              <option value="THIRD">Third</option>
            </select>
      </div>

      <div class="mb-3">
          <label for="">What floor is the laundry room on?</label>
          <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="FIRST">First</option>
              <option value="SECOND">Second</option>
              <option value="THIRD">Third</option>
            </select>
      </div>

      <div class="d-flex flex-row justify-content-evenly">
          
          <div>
              <label for="formGroupExampleInput" class="form-label">Will the water heater be in the garage?</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    No
                  </label>
                </div>
          </div>

          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Where is the water heater located?</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Located ...">
          </div>

      </div>

      <div>
          <h2 class="text-center">Bathrooms</h1>
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Project Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
      </div>
    <input class="btn btn-success" type="submit" value="Submit">
  </form>
</div>
{% endblock content %}